.h5p-flashcards {
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.9);
}

.h5p-flashcards.h5p-standalone {
  background-color: var(--background);
}

.h5p-flashcards .h5p-loading {
  padding: 1em;
  text-align: center;
  color: #fff;
}

.h5p-flashcards .h5p-title {
  text-align: left;
  font-size: 1.5em;
  margin: 0;
}
.h5p-flashcards .h5p-theme-primary-cta{
  padding: var(--spacing-xs) var(--spacing-xs);
  min-width: calc(var(--spacing-l)*4);
}

.h5p-flashcards .h5p-description {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid var(--stroke-1);
  padding: var(--spacing-l) var(--spacing-m);
  background-color: var(--ui-base);
  text-align: center;
}

.h5p-flashcards .h5p-inner {
  position: relative;
  margin: var(--spacing-m) 0;
  overflow: hidden;
}

.h5p-flashcards .h5p-card {
  position: absolute;
  display: block;
  vertical-align: middle;
  width: 26em;
  min-width: 14em;
  max-width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: transform 0.6s;
  transform: translateX(0);
  z-index: 1;
}

.h5p-flashcards .h5p-card.left {
  transform: translateX(-200%);
}

.h5p-flashcards .h5p-card.right {
  transform: translateX(200%);
}

.h5p-flashcards .h5p-card.h5p-current {
  transform: translateX(0);
  z-index: 2;
}

.h5p-flashcards .h5p-card.h5p-previous {
  transform: translateX(-100%);
}

.h5p-flashcards .h5p-card.h5p-next {
  transform: translateX(100%);
}

.h5p-flashcards.h5p-mobile .h5p-card.h5p-previous {
  transform: translateX(-150%);
}

.h5p-flashcards.h5p-mobile .h5p-card.h5p-next {
  transform: translateX(150%);
}

.h5p-flashcards .h5p-inner.h5p-invisible .h5p-card {
  visibility: hidden;
}

.h5p-flashcards .h5p-card .h5p-flashcard-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.h5p-flashcards .h5p-card > .h5p-flashcard-overlay {
  z-index: 1;
  background-color: var(--background);
  cursor: pointer;
  opacity: 0.75;
  border-radius: inherit;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.h5p-flashcards .h5p-card.h5p-current > .h5p-flashcard-overlay {
  display: none;
}

.h5p-flashcards .h5p-card.h5p-wrong .h5p-imageholder > .h5p-flashcard-overlay {
  background-color: var(--feedback-incorrect-main);
  opacity: 0.9;
  mix-blend-mode: multiply;
}

.h5p-flashcards .h5p-card.h5p-correct .h5p-imageholder > .h5p-flashcard-overlay {
  background-color: var(--feedback-correct-main);
  opacity: 0.9;
  mix-blend-mode: multiply;
}

.h5p-flashcards .h5p-card.h5p-correct .h5p-imageholder .h5p-clue,
.h5p-flashcards .h5p-card.h5p-wrong .h5p-imageholder .h5p-clue {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.h5p-flashcards .h5p-card.h5p-current .h5p-cardholder {
  background-color: var(--ui-base);
  border-color: var(--background);
}

.h5p-flashcards .h5p-cardholder {
  margin: auto;
  background-color: var(--ui-base);
  border: 0.1em solid transparent;
  border-radius: var(--border-radius-large);
  transform: scale(0.85);
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
}

.h5p-flashcards .h5p-card:hover .h5p-cardholder {
  transform: scale(0.8);
}
.h5p-flashcards .h5p-card.h5p-current:hover .h5p-cardholder{
	transform: scale(1);
}

.h5p-flashcards .h5p-card:hover .h5p-flashcard-overlay {
  opacity: 0.6;
}

.h5p-flashcards .h5p-current .h5p-cardholder {
  transform: scale(1);
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.04);
}

.h5p-flashcards .h5p-imageholder {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  justify-content: center;

  position: relative;
  margin: var(--spacing-l) var(--spacing-l) 0 var(--spacing-l);
  padding: 0rem;
  height: calc(var(--spacing-xl)*6);
  background-color: var(--alternative-base);
  border-radius: var(--border-radius-large);
}

.h5p-flashcards .h5p-card .h5p-clue {
  display: block;
  background: white;

  max-height: 100%;
  max-width: 100%;
  flex: 0 0 auto; /* Need  this for IE 11 to make image not stretch */
  object-fit: scale-down; /* Need  this for FF to make image not stretch */
  box-sizing: border-box;

  -webkit-transition: -webkit-transform 0.15s;
  -moz-transition: -moz-transform 0.15s;
  -ms-transform: -ms-transform 0.15s;
  transition: transform 0.15s;
}

.h5p-flashcards .h5p-card div.h5p-clue {
  box-shadow: none;
  background: none;
  border: none;
}

.h5p-flashcards .h5p-card.h5p-current .h5p-imageholder {
  -webkit-filter: none;
  filter: none;
}

.h5p-flashcards .h5p-card div.h5p-clue:after {
  content: "\f03e";
  font-family: 'H5PFontAwesome4';
  font-size: 7em;
  line-height: 100px;
  color: #a3b7be;
}

.h5p-flashcards .h5p-foot {
  margin: 0 1em 1em 1em;
  padding: 0 1em 1em 1em;
  border-radius: inherit;
}

.h5p-flashcards .h5p-answer {
  background: none;
  max-width: 32em;
}

.h5p-flashcards .h5p-answer .h5p-button {
  display: inline-block;
  border: none;
  box-shadow: none;
}

.h5p-flashcards .h5p-answer .h5p-button:focus {
  box-shadow: 0 0 0.5em 0 #1d273c;
}

.h5p-flashcards .h5p-answer .h5p-wrong .h5p-button,
.h5p-flashcards .h5p-answer .h5p-correct .h5p-button {
  display: none;
}

.h5p-flashcards .h5p-answer .h5p-textinput::-ms-clear {
  display: none;
}

.h5p-flashcards .h5p-imagetext {
  background: none;
  text-align: center;
  overflow: hidden;
  max-width: 32em;
  padding: var(--spacing-s, --spacing-m);
  margin: auto;
  color: var(--text-primary);
  font-size: var(--font-size-xl-large);
  line-height: 1.5rem;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h5p-flashcards .h5p-imagetext:first-letter {
  text-transform: uppercase;
}

.h5p-flashcards .h5p-input {
  container-type: inline-size;
  display: flex;
  align-items: center;
}
.h5p-flashcards .h5p-input.h5p-correct .h5p-textinput[disabled]{
  color: var(--feedback-correct-main) !important;
  background-color: var(--feedback-correct-secondary) !important;
  border-color: var(--feedback-correct-third) !important;
  box-shadow: none;
}
.h5p-flashcards .h5p-input.h5p-wrong .h5p-textinput[disabled]{
  color: var(--feedback-incorrect-main) !important;
  background-color: var(--feedback-incorrect-secondary) !important;
  border-color: var(--feedback-incorrect-third) !important;
  box-shadow: none;
}

.h5p-flashcards .h5p-answer .h5p-wrong .h5p-feedback-label {
  position: absolute;
  right: 1em;
  top: 1em;
  line-height: 1em;
  color: var(--feedback-incorrect-main);
  outline: none;
  padding: var(--spacing-xs) var(--spacing-xs);
}

.h5p-flashcards .h5p-answer .h5p-wrong .h5p-feedback-label:before {
  content: "\e902";
  font-family: 'h5p-theme';
  padding-right: 2px;
}

.h5p-flashcards .h5p-answer .h5p-correct .h5p-feedback-label {
  position: absolute;
  right: 1em;
  top: 1em;
  line-height: 1em;
  color: var(--feedback-correct-main);
  transition: opacity 2s;
  opacity: 1;
  outline: none;
}

.h5p-flashcards .h5p-answer .h5p-correct .h5p-feedback-label:before {
  content: "\e903";
  font-family: 'h5p-theme';
  padding-right: 2px;
}

/* If tip is present, correct/wrong marker has to be moved to the left */
.h5p-flashcards .h5p-inner .h5p-answer .h5p-input.has-tip:after {
  right: 4.5em;
}

.h5p-flashcards .h5p-textinput {
  margin: 0 auto;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.25em;
  word-wrap: break-word;
  border: none;
  background: none;
  height: fit-content;
  width: 100%;

  box-sizing: content-box;
}

.h5p-flashcards .h5p-input.h5p-correct .h5p-textinput[disabled],
.h5p-flashcards .h5p-input.h5p-wrong .h5p-textinput[disabled] {
  background-color: #f2f2f2;
  padding: var(--spacing-xs) var(--spacing-xs);
}

.h5p-flashcards .h5p-button:focus {
  box-shadow: 0 0 0.5em 0 #7fb8ff;
}

.h5p-flashcards .h5p-button[disabled],
.h5p-flashcards .h5p-button[disabled]:hover {
  cursor: default;
  box-shadow: none;
}

.h5p-flashcards .h5p-progress {
  margin: var(--spacing-s) auto;
}
.h5p-flashcards .h5p-navigation {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  justify-items: center;
	
  container-type: inline-size;
  container-name: h5p-navigation;

  overflow: hidden;
  height: calc(2*var(--spacing-xl));
  clear: both;
  width: 77em;
  max-width: 100%;
  background-color: var(--ui-base);
  border-top: 1px solid var(--stroke-1);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
}
@container h5p-navigation (max-width: 700px) {
  .h5p-theme-label {
    display: none;
  }
	.h5p-theme-nav-button{
		  border-radius: 25rem;
	}
  .h5p-flashcards .h5p-button.h5p-next:after, .h5p-flashcards .h5p-button.h5p-previous:before{
	  margin: 0 !important;
	
	}

}

.h5p-flashcards .h5p-navigation .h5p-button {
  color: #a3adc4;
  background: none;
  top: 0.75em;
}

.h5p-flashcards .h5p-navigation .h5p-button:before, .h5p-flashcards .h5p-navigation .h5p-button:after {
	  font-family: 'h5p-theme';
}

.h5p-flashcards .h5p-navigation .h5p-button:hover {
  background-color: #3c465d;
}

.h5p-flashcards .h5p-button.h5p-next:after {
  content: "\e901";
  margin-left: 0.5rem;
  display: inline-block;
}

.h5p-flashcards .h5p-button.h5p-previous:before {
  content: "\e900";
  margin-right: 0.5rem;
  display: inline-block;
}

.h5p-flashcards .h5p-hidden {
  display: none;
}

.h5p-flashcards .h5p-invisible {
  visibility: hidden;
}

.h5p-flashcards .h5p-solution {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
  position: absolute;
  font-weight: bold;
}

.h5p-flashcards .h5p-solution > .solution-icon {
  display: inline-flex;
  align-items: center;
  height: 100%;

  color: white;
  font-family: 'h5p-theme' !important;
  font-size: calc(4*var(--spacing-s));

  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transition-timing-function: ease-in;
}

.h5p-flashcards .h5p-card.h5p-wrong .h5p-solution > .solution-icon:before {
  content: "\e902";
}

.h5p-flashcards .h5p-card.h5p-correct .h5p-solution > .solution-icon:before {
  content: "\e903";
}

.h5p-flashcards .h5p-solution > .solution-text {
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-size: 1.25em;
  line-height: 1.25;
  padding: 0.25em 1em;
  border-radius: 1em;
  width: min-content;
  min-width: 70%;
  max-width: calc(100% - 1em);
  color: white;
}

.h5p-flashcards .h5p-solution.h5p-hidden {
  display: block;
}

.h5p-flashcards .h5p-solution.h5p-hidden > span {
  -webkit-transform: scale(0,1);
  -moz-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.h5p-flashcards .h5p-collapse {
  -webkit-transform: scale(0,1);
  -moz-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.h5p-flashcards .joubel-tip-container {
  position: absolute;
  margin: 0 0.75em;
  top: 0.4em;
}

.h5p-flashcards .h5p-answer .h5p-input.h5p-wrong .joubel-tip-container,
.h5p-flashcards .h5p-answer .h5p-input.h5p-correct .joubel-tip-container {
  display: none;
}

.h5p-flashcards .h5p-flashcards-results {
  display: none;
  -webkit-flex-direction: column;
          flex-direction: column;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--ui-base);
}

.h5p-flashcards .h5p-flashcards-results.show {
  display: -webkit-flex;
  display: flex;
}

.h5p-flashcards .h5p-results-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--contrast-cta);
  z-index: 1;
}

.h5p-flashcards .h5p-results-retry-button{
	margin-bottom: var(--spacing-m);	
}

.h5p-flashcards .h5p-results-retry-button:before {
  font-family: 'h5p-theme' !important;
  content: "\e906";
  margin-right: 0.5em;
}

.h5p-flashcards .h5p-results-score {
  color: var(--contrast-cta);
  font-size: 1.5rem;
  z-index: 1;
}

.h5p-flashcards .h5p-results-score span{
  color: var(--contrast-cta);
  padding: 0 0.2em;
}

.h5p-flashcards .h5p-results-list {
  clear: both;
  flex: 1;
  list-style-type: none;
  overflow: hidden;
  overflow-y: auto;
  padding: var(--spacing-l);
  
}

.h5p-flashcards .h5p-results-list-item {
  display: grid;
  grid-template-columns: 5rem auto 3rem;
  overflow: hidden;
  color: var(--text-primary);
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-medium);
  margin-bottom: var(--spacing-s);
  background-color: var(--feedback-correct-secondary);
  border: solid 1px var(--feedback-correct-third);
  align-items: center;
  justify-items: center;
}


.h5p-flashcards .h5p-results-image-holder {
  /*
  overflow: hidden;
  border-radius: var(--border-radius-small);
  position: relative;
  float: left;
  margin-right: 2em;
  padding: 0.25em;*/
  width: 4.5rem;
  height: 3.5rem;
  background-size: contain;
  background-position: center center;
  background-color: var(--ui-base);
  background-repeat: no-repeat;
  background-origin: content-box;
  grid-column: 1;
}
.h5p-flashcards .h5p-results-question-container{
  grid-column: 2;
	width: -webkit-fill-available;
	padding: var(--spacing-xs);
}
.h5p-flashcards .h5p-results-image-holder.no-image {
  background-color: var(--alternative-base);
  text-align: center;
}
.h5p-flashcards .h5p-results-image-holder.no-image:after {
  font-family: 'H5PFontAwesome4';
  content: "\f03e";
  font-size: 2em;
  line-height: 1.8em;
  color: #a3b7be;
}

.h5p-flashcards .h5p-results-question {
  line-height: auto;
  font-size: 1.25rem;
  font-weight: 600;
  margin-right: 3.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--feedback-correct-main);
}
.h5p-flashcards .h5p-incorrect .h5p-results-question{
  color: var(--feedback-incorrect-main);
  grid-column: 2;
}

.h5p-flashcards .h5p-results-answer {
  color: var(--feedback-correct-main);
  line-height: 2em;
  margin-right: 4.5em;
  font-size: 1rem;
  overflow-wrap: break-word;
}

.h5p-flashcards .h5p-results-answer span {
  color: var(--text-primary);
}


.h5p-flashcards .h5p-results-answer span.h5p-correct {
  color: var(--feedback-correct-main);
}

.h5p-flashcards .h5p-results-answer span.h5p-correct span {
  color: var(--text-primary);
}

.h5p-flashcards .h5p-results-box {
  color: var(--feedback-correct-main);
}

.h5p-flashcards .h5p-results-box:after {
  font-family: 'h5p-theme';
  content: "\e903";
  font-size: 2rem;
}
.h5p-incorrect{
  background-color: var(--feedback-incorrect-secondary) !important;
  border-color: var(--feedback-incorrect-third) !important;
}

.h5p-flashcards .h5p-results-list-item.h5p-incorrect .h5p-results-answer {
  color: var(--feedback-incorrect-main);
}

.h5p-flashcards .h5p-results-list-item.h5p-incorrect .h5p-results-box {
  grid-column: 3;
  color: var(--feedback-incorrect-main);
}

.h5p-flashcards .h5p-results-list-item.h5p-incorrect .h5p-results-box:after {
  content: "\e902";
}

.h5p-flashcards .h5p-visual-progress {
  grid-column: 2;

  background-color: var(--contrast-cta-light);
  /*border: 1px solid var(--contrast-cta-white);*/
  border-radius: 8px;
  padding: 3px;
  width: 18rem;
}

.h5p-flashcards.h5p-mobile .h5p-visual-progress {
  max-width: none;
}

.h5p-flashcards .h5p-visual-progress div {
  background-color: var(--contrast-cta-white);
  height: 7px;
  width: 0%;
  border-radius: 5px;
  transition: width 1s;
}
/*
@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}
*/
@-webkit-keyframes rotateIn {
  from {
    transform: scale(0.2);
    opacity: 0;
  }

  to {
    transform: scale(1.3);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    transform: scale(0.2);
    opacity: 0;
  }

  to {
    transform: scale(1.3);
    opacity: 1;
  }
}

.h5p-rotate-in {
  -webkit-animation-name: rotateIn;
          animation-name: rotateIn;
}

.h5p-flashcards .joubel-icon-tip-normal {
  font-size: 1.3em;
  line-height: 1.5em;
}

.h5p-flashcards .h5p-show-results {
  display: none;
  position: absolute;
  top: 50%;
  text-align: center;
  right: 0;
}

.h5p-show-results button:after {
  font-family: 'h5pFontAwesome4';
  content: "\f0a9";
  font-size: 1.1em;
  vertical-align: bottom;
  margin-left: 0.5em;
}

/* Mobile */
.h5p-flashcards.h5p-mobile .h5p-card {
  width: 100%;
}

.h5p-flashcards.h5p-mobile .h5p-flashcards-results {
  margin: 5em 0.5em;
}

.h5p-flashcards.h5p-mobile .h5p-results-score {
  right: 0;
}

.h5p-flashcards.h5p-mobile .h5p-show-results,
.h5p-flashcards .h5p-show-results.h5p-mobile {
  right: 2.2em;
  width: 12em;
  font-size: 0.45em;
}

.h5p-flashcards.h5p-mobile .h5p-show-results-label,
.h5p-flashcards .h5p-show-results.h5p-mobile .h5p-show-results-label {
  display: none;
}

/* Custom scrollbar */
.h5p-flashcards .h5p-results-list::-webkit-scrollbar {
  background-color: #1c273b;
  width: 0.5em;
  border-radius: 1em;
}

.h5p-flashcards .h5p-results-list::-webkit-scrollbar-thumb {
  background-color: #6a7589;
  background-size: 24px 100%;
  border-radius: 1em;
}

.h5p-flashcards .h5p-results-list::-webkit-scrollbar-button:vertical {
  background-size: 20px 20px;
  background-position-x: -4px;
  background-position-y: -3px;
  background-repeat: no-repeat;
}

.h5p-flashcards .h5p-results-list::-webkit-scrollbar-button:vertical:decrement,
.h5p-flashcards .h5p-results-list::-webkit-scrollbar-button:vertical:increment {
  display: none;
}

.using-mouse .h5p-flashcards .h5p-button.h5p-check-button:focus {
  box-shadow: none;
}

.using-mouse .h5p-flashcards .h5p-button.h5p-check-button:active {
  background-color: #20a5ca;
}

.h5p-flashcards .hidden-but-read {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  overflow: hidden;
}
