.h5p-flashcards {
  position: relative;
  overflow: hidden;
  padding: 0.5em 0 0em;
  line-height: 1.25em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.9);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6FFFFFF,endColorstr=#e6FFFFFF);
}

.h5p-flashcards.h5p-standalone {
  background-color: #27344e;
}

.h5p-flashcards .h5p-loading {
  padding: 1em;
  text-align: center;
}

.h5p-flashcards .h5p-title {
  text-align: left;
  font-size: 1.5em;
  margin: 0;
}

.h5p-flashcards .h5p-description {
  border-bottom: 1px solid #474e61;
  padding: 1.5em 0;
  margin: 0 2em;
  text-align: center;
  font-size: 1.3em;
}

.h5p-flashcards.h5p-standalone .h5p-description {
  color: #f9f9f9;
}

.h5p-flashcards .h5p-inner {
  position: relative;
  margin: 1em 0;
}

.h5p-flashcards .h5p-card {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 26.8em;
  margin: 0 0.6em;
}

.h5p-flashcards .h5p-card > .h5p-flashcard-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #27344e;
  cursor: pointer;
  opacity: 0.75;
  border-radius: 2em;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.h5p-flashcards .h5p-card.h5p-current > .h5p-flashcard-overlay {
  display: none;
}

.h5p-flashcards .h5p-card.h5p-wrong .h5p-imageholder > .h5p-flashcard-overlay {
  background-color: #f30e0e;
  opacity: 0.68;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: inherit;
  left: 0;
  top: 0;
}

.h5p-flashcards .h5p-card.h5p-correct .h5p-imageholder > .h5p-flashcard-overlay {
  background-color: #6cda4a;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: inherit;
  left: 0;
  top: 0;
}

.h5p-flashcards .h5p-card.h5p-correct .h5p-imageholder .h5p-clue,
.h5p-flashcards .h5p-card.h5p-wrong .h5p-imageholder .h5p-clue {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.h5p-flashcards .h5p-card.h5p-current .h5p-cardholder {
  background-color: white;
  border-color: white;
}

.h5p-flashcards .h5p-cardholder {
  margin: auto;
  background-color: transparent;
  border: 0.1em solid transparent;
  transform: scale(0.9);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  transform: scale(0.95);

  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
}

.h5p-flashcards .h5p-card:hover .h5p-cardholder {
  transform: scale(1);
}

.h5p-flashcards .h5p-card:hover .h5p-flashcard-overlay {
  opacity: 0.6;
}

.h5p-flashcards .h5p-current .h5p-cardholder {
  transform: scale(1);
  box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.31);
}

.h5p-flashcards .h5p-imageholder {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: space-around;
  justify-content: space-around;

  position: relative;
  margin: 1em 1em 0 1em;
  padding: 0 1em 1em 1em;
  height: 18em;
  background-color: #c8e0e3;
  border-radius: 2em 2em 0 0;
}

.h5p-flashcards .h5p-card .h5p-clue {
  display: block;
  margin: 1em auto 0 !important;
  padding: 0.5em;
  background: white;
  text-align: center;

  max-height: 15em;

  -webkit-box-shadow: 0em 0em 0.4em rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0em 0em 0.4em rgba(50, 50, 50, 0.5);
  box-shadow: 0em 0em 0.4em rgba(50, 50, 50, 0.5);

  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  border: 0.1em solid #b6b6b6;

  -webkit-transition: -webkit-transform 0.15s;
  -moz-transition: -moz-transform 0.15s;
  -ms-transform: -ms-transform 0.15s;
  transition: transform 0.15s;
}

.h5p-flashcards .h5p-card div.h5p-clue {
  box-shadow: none;
  background: none;
  border: none;
}

.h5p-flashcards .h5p-card.h5p-current .h5p-imageholder {
  -webkit-filter: none;
  filter: none;
}

.h5p-flashcards .h5p-card div.h5p-clue:after {
  content: "\f03e";
  font-family: 'H5PFontAwesome4';
  font-size: 7em;
  line-height: 100px;
  color: #a3b7be;
}

.h5p-flashcards .h5p-card img.h5p-clue {
  display: block;
}

.h5p-flashcards .h5p-foot {
  margin: 0 1em 1em 1em;
  padding: 0 1em 1em 1em;
  background-color: white;
  border-radius: 0 0 2em 2em;
}

.h5p-flashcards .h5p-answer {
  background: none;
  position: relative;
  max-width: 32em;
}

.h5p-flashcards .h5p-answer .h5p-button {
  display: inline-block;
  border: none;
  border-radius: 0 2em 2em 0;
  background: #2abee8;
  padding: 0.75em 1.5em;
  box-shadow: none;
  top: 0;
  right: 0;
  height: 3em;
  position: absolute;
}

.h5p-flashcards .h5p-answer .h5p-button:hover {
  background: #72c1e6;
}

.h5p-flashcards .h5p-answer .h5p-wrong .h5p-button,
.h5p-flashcards .h5p-answer .h5p-correct .h5p-button {
  display: none;
}

.h5p-flashcards .h5p-answer .h5p-textinput {
  width: 100%;
  height: 3em;
  padding: 0 9em 0 1em;
  border-radius: 2em;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #27344e;
  border: 2px solid #e7e9ec;
}

.h5p-flashcards .h5p-answer .h5p-textinput::-ms-clear {
  display: none;
}

.h5p-flashcards .h5p-answer .h5p-input {
  position: relative;
}

.h5p-flashcards .h5p-imagetext {
  background: none;
  text-align: center;
  overflow: hidden;
  max-width: 32em;
  padding: 0.75em;
  margin: auto;
  color: #27344e;
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h5p-flashcards .h5p-imagetext:first-letter {
    text-transform: uppercase;
}

.h5p-flashcards .h5p-input {
  text-align: center;
}

.h5p-flashcards .h5p-answer .h5p-wrong .h5p-feedback-label {
  position: absolute;
  right: 1em;
  top: 1em;
  line-height: 1em;
  color: #db2222;
}

.h5p-flashcards .h5p-answer .h5p-wrong .h5p-feedback-label:before {
  content: "\f00d";
  font-family: 'H5PFontAwesome4';
  padding-right: 2px;
}

.h5p-flashcards .h5p-answer .h5p-correct .h5p-feedback-label {
  position: absolute;
  right: 1em;
  top: 1em;
  line-height: 1em;
  color: #5dae45;
  transition: opacity 2s;
  opacity: 1;
}

.h5p-flashcards .h5p-answer .h5p-correct .h5p-feedback-label:before {
  content: "\f00c";
  font-family: 'H5PFontAwesome4';
  padding-right: 2px;
}

/* If tip is present, correct/wrong marker has to be moved to the left */
.h5p-flashcards .h5p-inner .h5p-answer .h5p-input.has-tip:after {
  right: 4.5em;
}

.h5p-flashcards .h5p-textinput {
  position: relative;
  height: 1.5em;
  padding: 0.25em 0.5em;
  margin: 0 auto;
  display: inline-block;

  font-size: 1em;
  font-weight: normal;
  line-height: 1.25em;
  word-wrap: break-word;

  border-radius: 1em 0 0 1em;
  border: 0.0625em solid #c7c7c7;
  color: rgb(51, 51, 51);
  box-sizing: content-box;
}

.h5p-flashcards .h5p-textinput:focus {
  outline: none;
  box-shadow: 0 0 0.5em 0 #7fb8ff;
  border-color: #7fb8ff;
}

.h5p-flashcards .h5p-input.h5p-correct .h5p-textinput[disabled],
.h5p-flashcards .h5p-input.h5p-wrong .h5p-textinput[disabled] {
  background-color: #f2f2f2;
}

.h5p-flashcards .h5p-button {
  font-size: 1em;
  display: block;
  margin: auto;
  padding: 0.3125em 0.6875em;
  border: 0.1875em solid #fff;
  border-radius: 0.3125em;
  margin-bottom: 1em;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 0.5em #999;
  text-decoration: none;

  background: rgb(100,152,254); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(100,152,254,1) 0%, rgba(4,104,206,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,152,254,1)), color-stop(100%,rgba(4,104,206,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%); /* IE10+ */
}

.h5p-flashcards .h5p-button:hover {
  background: rgb(4,104,206); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(4,104,206,1) 0%, rgba(100,152,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,104,206,1)), color-stop(100%,rgba(100,152,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%); /* IE10+ */
}

.h5p-flashcards .h5p-button[disabled],
.h5p-flashcards .h5p-button[disabled]:hover {
  cursor: default;
}

.h5p-flashcards .h5p-progress {
  margin: 2em 0;
  color: #fff;
  text-align: center;
}
.h5p-flashcards .h5p-navigation {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 2.5em;
  padding-top: 0.5em;
  max-width: 30em;
  vertical-align:middle;
  clear: both;
}

.h5p-flashcards .h5p-button.h5p-next {
  position: absolute;
  right: 0.375em;
}

.h5p-flashcards .h5p-button.h5p-previous {
  position: absolute;
  left: 0.375em;
}

.h5p-flashcards .h5p-button.h5p-next:after {
  font-family: 'H5PFontAwesome4';
  content: "\f054";
  margin-left: 0.1875em;
}

.h5p-flashcards .h5p-button.h5p-previous:before {
  font-family: 'H5PFontAwesome4';
  content: "\f053";
  margin-right: 0.1875em;
}

.h5p-flashcards .h5p-hidden {
  display: none;
}

.h5p-flashcards .h5p-solution {
  text-align: center;
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
  position: absolute;
  font-weight: bold;
}

.h5p-flashcards .h5p-solution > .solution-icon {
  position: absolute;
  top: 0.8em;
  left: 0;
  width: 100%;
  color: white;
  font-family: "h5pFontAwesome4";
  font-size: 8em;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.h5p-flashcards .h5p-card.h5p-correct .h5p-solution > .solution-icon {
  top: 1.1em;
}

.h5p-flashcards .h5p-card.h5p-wrong .h5p-solution > .solution-icon:before {
  content: "\f00d";
}

.h5p-flashcards .h5p-card.h5p-correct .h5p-solution > .solution-icon:before {
  content: "\f00c";
}

.h5p-flashcards .h5p-solution > .solution-text {
  position: absolute;
  bottom: 2em;
  left: 0;
  width: 100%;
  color: white;
}

.h5p-flashcards .h5p-solution > span > span {
  font-size: 1.5em;
  vertical-align: bottom;
}

.h5p-flashcards .h5p-solution.h5p-hidden {
  display: block;
}

.h5p-flashcards .h5p-solution.h5p-hidden > span {
  -webkit-transform: scale(0,1);
  -moz-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.h5p-flashcards .h5p-collapse {
  -webkit-transform: scale(0,1);
  -moz-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.h5p-flashcards .joubel-tip-container {
  position: absolute;
  right: 6.5em;
  top: 0.4em;
}

.h5p-flashcards .h5p-visual-progress {
  background-color: #1d273c;
  border: 1px solid #5f6c87;
  border-radius: 8px;
  padding: 3px;
  width: 18em;
  margin: 4em auto 3em auto;
}

.h5p-flashcards .h5p-visual-progress div {
  background-color: #7cf0bd;
  height: 7px;
  width: 0%;
  border-radius: 5px;
  transition: width 1s;
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.h5p-rotate-in {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}
